
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playpen+Sans:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    color: rgba(104, 1, 36, 0.7);
}

/* Intro_Container */
.Intro_Container{
    text-align: center;
    background: url('assets/Images/Background_Img.png');
    background-size: cover;
}
.Intro_Details{
    padding-top: 50px;
}
.text{
  font-family: "Great Vibes", cursive;
  font-size: 25px;
  color: rgba(104, 1, 35, 0.864);
}
.Event_Details_Img{
    display: flex;
    flex-direction: column;

}
.Event_Details_Img img{
   padding-left: 100px;
   height: 400px;
   width: 370px;
}


/* Invite_Details_Container */
.Invite_Details_Container{
    background: url('assets/Images/Background_Img.png');
    background-size: cover;
    text-align: center;
    padding: 0px 10px;
}
.Invite_Details_Container h2{
    padding: 20px;
    background-color:rgba(104, 1, 35, 0.795);
    color: white;
    border-radius: 100px;
}
.Details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.Details img{
    height: 350px;
    border: 5px solid rgba(104, 1, 35, 0.795);
}



/* Date and Time */
.Date_Time_Container{
    height: 500px;
    background: url('assets/Images/Background_Img.png');
    background-size: cover;
    padding: 0px 10px;
}
.Date_Time_Container h2{
    padding: 20px;
    background-color:rgba(104, 1, 35, 0.795);
    color: white;
    text-align: center;
    border-radius: 100px;
}
.Date_Time_Details{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.full_view{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.full_view img{
    height: 20px;
    width: 20px;
}

/* Location */
.Location_Container{
    background: url('assets/Images/Background_Img2.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
}
.Location_Container h2{
    padding: 20px;
    background-color:rgba(104, 1, 35, 0.795);
    color: white;
    width: 100%;
    border-radius: 100px;
    text-align: center;
}
.Iframe{
    margin-top: 20px;
    border: 2px solid rgba(104, 1, 35, 0.795);
    padding: 20px;
}
.btn-location{
    border: 2px solid burlywood;
    padding: 10px;
    width: 90%;
    text-align: center;
    background-color: rgba(104, 1, 35, 0.795);
}
.btn-location a{
    text-decoration: none;
    color: white;
}

/* Photo_Gallery */
.Photo_Gallery{
  background: linear-gradient(rgba(249, 127, 156, 0.126),rgba(62, 0, 0, 0.093)),url('assets/Images/Background_Img3.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.Photo_Gallery h2{
    padding: 20px ;
    background-color: rgba(104, 1, 35, 0.795);
    color: azure;
    border-radius: 100px;
}
.Pictures{
    margin-top: 20px;
    padding: 20px;
}
.Pics img{
   height: auto;
   max-height: 400px;
   width: 100%;
   border-radius: 10px;
   padding: 2px;
   border: 2px solid rgba(104, 1, 35, 0.795);
   padding: 20px;
}

.lg-react-element {
}


/* Best_Wishes */
.Best_Wishes{
    height: 500px;
    background: url('assets/Images/Background_Img.png');
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}
.Best_Wishes h2{
    padding: 20px ;
    background-color: rgba(104, 1, 35, 0.795);
    color: azure;
    width: 100%;
    border-radius: 100px;
}
.wishes{
    margin-top: 50px;
    font-size: 17px;
    border: 2px solid burlywood;
    height: 200px;
    padding: 10px;
    border-radius: 5px;  
}

/* Social Share */
.Social_Share{
  height: 300px;
  height: 500px;
  background: url('assets/Images/Background_Img3.png');
  background-size: cover;
  text-align: center;
  padding: 10px 10px;
}
.Social_Share h2{
    padding: 20px;
    background-color:rgba(104, 1, 35, 0.795);
    color: white;
    width: 100%;
    border-radius: 100px;
}
.Media{
  margin-top: 10px;
}

/* Footer */
.Footer{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
}
.Footer-row{
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 13px;
   text-align: start;
}
.Footer-row a{
  text-decoration: none;
  padding: 10px 20px; 
  border-radius: 5px;
  border: 2px solid burlywood;
  text-align: center;
  color: white;
  background-color: rgba(104, 1, 35, 0.795);
}


/* Count Down */
.countdown {
  text-align: center;
  padding: 50px 20px;
  background: url('assets/Images/Background_Img.png');
   background-size: cover;
}

.countdown h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  margin-bottom: 20px;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.timer div {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  min-width: 90px;
  border: 2px solid bisque;
  background-color: rgba(250, 189, 109, 0.055);
  
}

.timer span {
  font-size: 28px;
  font-weight: bold;
 color: rgb(87, 50, 2);
}

/* Music PLayer */
.music-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
}

.music-container button {
  background: #45030fdb;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 22px;
  cursor: pointer;
  color: white;
  animation: pulse 2s infinite;
}

.spin {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(124, 2, 49, 0.905); }
  70% { box-shadow: 0 0 0 15px rgba(214,51,132,0); }
}

/* Open screeing */
.opening-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgb(86, 2, 56) 0%, rgba(87, 4, 55, 0.731) 0%, rgba(65, 3, 38, 0.708) 0%, rgba(179, 9, 88, 0.644) 0%, rgba(107, 6, 68, 0.98) 0%, rgb(81, 4, 38) 58%, rgb(82, 1, 39) 81%); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-out {
  opacity: 0;
  transform: scale(1.1);
  pointer-events: none;
}

.invitation-card {
 background: #2c0114;
  padding: 50px 40px;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 0 40px rgba(212,175,55,0.4);
  border: 2px solid #E6C9A8;
  animation: floatCard 4s ease-in-out infinite;
}

@keyframes floatCard {
  0%,100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

/* Couple Name with Gold Shimmer */
.couple-name {
  font-family: "Great Vibes", cursive;
  font-size: 48px;
  background: linear-gradient(90deg, #956536, #D4AF37, #C4A484);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 4s linear infinite;
}

@keyframes shimmer {
  0% { background-position: -200px; }
  100% { background-position: 200px; }
}

.invite-text {
  margin: 20px 0 30px;
  font-size: 18px;
  color: #fff8ee;
  letter-spacing: 1px;
}

/* Button */
.open-btn {
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, rgba(155, 114, 42, 1) 0%, rgba(154, 121, 43, 1) 0%, rgba(168, 163, 29, 1) 0%, rgba(237, 221, 83, 1) 0%, rgba(207, 162, 58, 0.98) 0%, rgba(237, 221, 83, 1) 58%, rgba(237, 221, 83, 1) 81%); 
  color: #fff8ee;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 15px rgba(196,164,132,0.6);
}

.open-btn:hover {
  background: #D4AF37;
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(212,175,55,0.8);
}

.mobile-note{
  display: none;
}




@media (min-width:1025px){

  body{
    background:rgba(104, 1, 35, 0.795);
  }

  .Home{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
  }

  .Home-page{
    width:400px;
    height:780px;
    margin:40px auto;
    border-radius:40px;
    border:15px solid black;
    box-shadow:0 20px 60px rgba(0,0,0,0.3);
    overflow-y: auto;
    overflow-x: hidden;
    background:white;
  }

    .mobile-note{
    display:block;
    text-align:center;
    margin-top:15px;
    color : white;
    font-size:20px;
    font-weight:500;
  }
}

@media (min-width:768px){

  body{
    background:rgba(104, 1, 35, 0.795);
  }

  .Home{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-height:100vh;
  }

  .Home-page{
    width:400px;
    height:780px;
    margin:40px auto;
    border-radius:40px;
    border:15px solid black;
    box-shadow:0 20px 60px rgba(0,0,0,0.3);
    overflow-y: auto;
    background:white;
  }

    .mobile-note{
    display:block;
    text-align:center;
    margin-top:15px;
    color : white;
    font-size:20px;
    font-weight:500;
  }
}

